.accordion_item:has(.accordion_component.is-opened) .steps_item-line {
  height: 100%;
}

.accordion_item:has(.accordion_component.is-opened) .steps_item-dot {
  background: var(--brand--purple);
  color: var(--_theme---text-color--text-alternate);
}

/*
.steps_item-line {
  height: 0%;
  transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
  */

@media only screen and (min-width: 992px) {
  /* Makes all text inside component black. 
  Change the color of the text here, instead of on Webflow for this to work */
  .tabs_button_list .tabs_button_item {
    color: var(--_theme---text-color--text-primary);
  }

  /* Makes all text inside component grey on hover.
  Change the color of the text here, instead of on Webflow for this to work */
  .tabs_button_list:hover .tabs_button_item {
    color: var(--_theme---text-color--text-secondary);
  }

  /* Makes text inside link block black on hover.
  Change the color of the text here, instead of on Webflow for this to work */
  .tabs_button_list:hover .tabs_button_item:hover {
    color: var(--_theme---text-color--text-primary);
  }

  .tabs_button_list:hover .tabs_button_item:hover .tabs_button_title {
    transform: translateX(0.5rem);
  }
}

.video-slider_play-btn:hover .video-slider_play-btn_bg {
  transform: scale(0.96);
}

/* —————————————————————— VIMEO PLAYER ——————————————————————————— */

/* Placeholder */
.vimeo-player[data-vimeo-activated='true'][data-vimeo-loaded='true'] .vimeo-player__placeholder {
  opacity: 0;
}

/* Dark (Overlay) */
.vimeo-player[data-vimeo-playing='false'] .vimeo-player__dark {
  opacity: 0.33;
}

.vimeo-player[data-vimeo-activated='false'][data-vimeo-playing='false'] .vimeo-player__dark {
  opacity: 0;
}

.vimeo-player[data-vimeo-activated='true'][data-vimeo-loaded='true'] .vimeo-player__dark {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .vimeo-player[data-vimeo-hover='true']:hover .vimeo-player__dark {
    opacity: 0.33 !important;
  }
}

/* Pause */
.vimeo-player .vimeo-player__pause {
  display: none;
}

.vimeo-player[data-vimeo-playing='true'] .vimeo-player__pause {
  display: flex;
}

.vimeo-player .vimeo-player__pause .vimeo-player__btn {
  opacity: 0;
}

.vimeo-player[data-vimeo-activated='true'][data-vimeo-playing='false'] .vimeo-player__pause .vimeo-player__btn,
.vimeo-player[data-vimeo-activated='true'][data-vimeo-hover='true']:hover .vimeo-player__pause .vimeo-player__btn {
  opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
  .vimeo-player[data-vimeo-activated='true'][data-vimeo-playing='true'] .vimeo-player__pause .vimeo-player__btn {
    opacity: 0 !important;
  }
}

/* Play */
.vimeo-player[data-vimeo-playing='true'] .vimeo-player__play {
  opacity: 0;
}

/* Loading */
.vimeo-player .vimeo-player__loading {
  opacity: 0;
}

.vimeo-player[data-vimeo-playing='true'] .vimeo-player__loading {
  opacity: 1;
}

.vimeo-player[data-vimeo-playing='true'][data-vimeo-loaded='true'] .vimeo-player__loading {
  opacity: 0;
}

/* Interface */
.vimeo-player .vimeo-player__interface {
  opacity: 0;
}

.vimeo-player[data-vimeo-activated='false'][data-vimeo-playing='false'] .vimeo-player__interface {
  opacity: 1;
}

.vimeo-player .vimeo-player__interface * {
  pointer-events: all; /* Make children of div clickable by user */
}

.vimeo-player[data-vimeo-activated='true'][data-vimeo-playing='false'] .vimeo-player__interface,
.vimeo-player[data-vimeo-activated='true'][data-vimeo-hover='true']:hover .vimeo-player__interface {
  opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
  .vimeo-player[data-vimeo-activated='true'][data-vimeo-playing='true'] .vimeo-player__interface {
    opacity: 0 !important;
  }
}

/* Interface - Variables */
.vimeo-player {
  --timeline-rounded-corners: 1.5em;
  --timeline-dot-height: 0.75em;
  --timeline-dot-color: var(--brand--green);
  --progress-bg: rgba(239, 238, 236, 0.2);
  --progress-fill-bg: var(--brand--green);
  --progress-height: 0.2em;
}

/* Interface - Timeline */
.vimeo-player progress::-webkit-progress-bar {
  border-radius: var(--timeline-rounded-corners);
  background-color: var(--progress-bg);
  box-shadow: 0;
}

.vimeo-player progress::-webkit-progress-value {
  background: var(--progress-fill-bg);
}

.vimeo-player progress::-moz-progress-bar {
  border-radius: var(--timeline-rounded-corners);
  background: var(--progress-fill-bg);
  box-shadow: 0;
}

.vimeo-player progress::-ms-fill {
  border-radius: var(--timeline-rounded-corners);
}

/* Interface - Range */
.vimeo-player [type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.vimeo-player [type='range']:focus {
  outline: none;
}

.vimeo-player [type='range']::-ms-track {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.vimeo-player [type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--progress-height);
  cursor: pointer;
  background-color: var(--progress-bg);
  border-radius: var(--timeline-rounded-corners);
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.vimeo-player [type='range']::-webkit-slider-thumb {
  box-shadow: 0;
  height: var(--timeline-dot-height);
  width: var(--timeline-dot-height);
  border-radius: var(--timeline-rounded-corners);
  background-color: var(--timeline-dot-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: calc((var(--progress-height) / 2) - (var(--timeline-dot-height) / 2));
}

.vimeo-player [type='range']::-webkit-slider-runnable-track,
.vimeo-player [type='range']:focus::-webkit-slider-runnable-track {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.vimeo-player [type='range']::-moz-range-track {
  width: 100%;
  height: var(--progress-height);
  cursor: pointer;
  background: var(--progress-bg);
  border-radius: 0;
  border: 0;
  border-radius: var(--timeline-rounded-corners);
  overflow: hidden;
  opacity: 1 !important;
}

.vimeo-player [type='range']::-moz-range-thumb {
  box-shadow: 0;
  border: 0;
  height: var(--timeline-dot-height);
  width: var(--timeline-dot-height);
  border-radius: var(--timeline-rounded-corners);
  background: var(--timeline-dot-color);
  cursor: pointer;
  box-shadow: 0;
}

/* Interface - Mute */
.vimeo-player .vimeo-player__mute svg:nth-child(2),
.vimeo-player[data-vimeo-muted='true'] .vimeo-player__mute svg:nth-child(1) {
  display: none;
}

.vimeo-player .vimeo-player__mute svg:nth-child(1),
.vimeo-player[data-vimeo-muted='true'] .vimeo-player__mute svg:nth-child(2) {
  display: block;
}

/* Interface - Fullscreen */
.vimeo-player .vimeo-player__fullscreen svg:nth-child(2),
.vimeo-player[data-vimeo-fullscreen='true'] .vimeo-player__fullscreen svg:nth-child(1) {
  display: none;
}

.vimeo-player .vimeo-player__fullscreen svg:nth-child(1),
.vimeo-player[data-vimeo-fullscreen='true'] .vimeo-player__fullscreen svg:nth-child(2) {
  display: block;
}

/* —————————————————————— MODAL ——————————————————————————— */

[data-modal-group-status] {
  transition: all 0.2s linear;
}

[data-modal-group-status='active'] {
  opacity: 1;
  visibility: visible;
}

[data-modal-name][data-modal-status='active'] {
  display: flex;
}

/* Fade the links that are not active */
.tab-content_bottom:has(.tab-content_item.active) .tab-content_item:not(.active) {
  opacity: 0.5;
}

.tab-content_item.active .tab-content_icon {
  background: var(--brand--purple);
  color: var(--_theme---text-color--text-alternate);
}

@media (hover: hover) and (pointer: fine) {
  .tab-content_item:not(.active):hover .tab-content_item-bottom {
    background-color: rgba(0, 0, 0, 0.75);
  }
  .tab-content_item:not(.active):hover .tab-content_icon {
    transform: translate(25%, 0px);
  }
}

.nav_wrap:has(.navmenu__dropdown.w--open),
.nav_wrap:has([data-nav-menu-open]),
.nav_component:has([data-nav-menu-open]) .nav_wrap {
  --_theme---link-color--link-highlight: #62ffd8;
  --_theme---link-color--link-secondary: #aaa;
  --_theme---border-color--border-highlight: #62ffd8;
  --_theme---border-color--border-primary: #090d1f;
  --_theme---background-color--background-highlight: #62ffd8;
  --_theme---button-secondary--border: #090d1f;
  --_theme---button-primary--text-hover: #090d1f;
  --_theme---background-color--background-white: white;
  --_theme---text-color--text-highlight: #62ffd8;
  --_theme---background-color--background-0: #fafafa00;
  --_theme---background-color--background-alternate: #090d1f;
  --_theme---text-color--text-alternate: #fafafa;
  --_theme---background-color--background-secondary: #f3f3f2;
  --_theme---background-color--background-05: #fafafa0d;
  --_theme---border-color--border-secondary: #8487964d;
  --_theme---button-secondary--text-hover: #090d1f;
  --_theme---button-secondary--background-hover: #62ffd8;
  --_theme---button-primary--background-hover: #8dffe3;
  --_theme---border-color--border-tertiary: #090d1f1a;
  --_theme---button-secondary--text: #fafafa;
  --_theme---button-secondary--background: #090d1f;
  --_theme---button-primary--text: #090d1f;
  --_theme---button-primary--background: #62ffd8;
  --_theme---button-primary--border: #62ffd8;
  --_theme---text-color--text-primary: #090d1f;
  --_theme---link-color--link-primary: #090d1f;
  --_theme---text-color--text-title: #090d1f;
  --_theme---text-color--text-secondary: #848796;
  --_theme---background-color--background: #fafafa;
}

.quote-detail_quote {
  margin-bottom: 0 !important;
}
